
@import "base/colors.scss";

@mixin gradient {
    background: $cart-dark-yellow;
    background: -webkit-linear-gradient($cart-dark-yellow, $cart-yellow);
    background: -o-linear-gradient($cart-dark-yellow, $cart-yellow);
    background: -moz-linear-gradient($cart-dark-yellow, $cart-yellow);
    background: linear-gradient($cart-dark-yellow, $cart-yellow);
}

@mixin hovered-gradient {
    background: $cart-light-yellow;
    background: -webkit-linear-gradient($cart-light-yellow, $cart-yellow);
    background: -o-linear-gradient($cart-light-yellow, $cart-yellow);
    background: -moz-linear-gradient($cart-light-yellow, $cart-yellow);
    background: linear-gradient($cart-light-yellow, $cart-yellow);
}


.cart-container {
  /*width: 900px;*/
  width: 50%;
  padding: 0 0 250px 0;
  margin: 0 auto;
  text-align: center;

}

.cart-container h2 {
  /*color: red;*/
  font-size: 21px;
  line-height: 1.3;
  font-weight: bold;
}

.cart-product-list {
  padding-top: 20px;
}

.cart-table {
  border: 1px solid #e6e6e6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0;
  width: 960px;
  margin: 0 auto;
  padding-top: 10px;
}

.cart-product-line {
  padding: 20px 10px 5px 20px;
  border-bottom: 1px solid #e6e6e6;
}

.single-product-in-cart {
    padding-top: 20px;
    margin: 0 auto;
}

.cart-product {
  /*background-color: #f2f2f2;*/
  /*background-color: #f0f5f5;*/
  /*border: 1px solid #0000b3;*/
}


.cart-product-image {
  float: left;
}

.cart-product-img {


}

.cart-product-img img {
  width: 100px;
  height: 100px;

}


.cart-product-title {
  /*float: left;*/
  width: 500px;
  text-align: left;
  margin-left: 130px;
  /*padding: 10px 0 0 20px;*/

  a {
    color: $link-blue;
  }

  a:hover {
    color: $link-orange;
    cursor: pointer;
    text-decoration: underline;
  }

}

// .cart-product-title a:hover {
//   color: red;
// }

.product-cart-descr {
  margin-left: 130px;
  text-align: left;
  padding: 10px 0 10px 0;
  color: #777;
  font-size: .8em

}

.cart-header {
  margin-left: 10px;
}

.product-title-header {
  text-align: center;
  width: 790px;
}

.cart-product-price {
  /*border: 1px solid grey;*/
  width: 100px;
  text-align: center;
}

.cart-product-quantity {
  width: 100px;
  text-align: center;
}


.cart-product-total {
  width: 150px;
  text-align: center;
}

.cart-product-buttons {
  float: left;
  padding: 10px 10px;
}

#remove-btn {
}

#add-btn {
  padding-left: 10px;
}

.total-cart-amount {
  width: 962px;
  background-color: #e6f9ff;
  margin-top: 20px;
  line-height: 2;
  // padding: 10px 0 10px 0;
  border-top: 1px solid #e6e6ff;
  border-bottom: 1px solid #e6e6ff;
}

.order-total-title {
  width: 700px;
  text-align: center;
  font-size: 1.5em;
  float: left;
}

.order-total-amount {
  width: 200px;
  text-align: right;
  font-size: 1.5em;
  /*text-decoration: underline;*/
}


.cart-buttons {
  // float: right;
  width: 962px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;

}

.cart-buttons span {
  // padding: 0 0 0 20px;
}

.address-table, .payment-table {
  width: 98%;
}

/*.address-line {
  width: 100%;
  padding: 10px;
}*/

.placeorder-titles {
  width: 25%;
  padding: 0 10px 10px 10px;
  font-size: 1.05em;
  font-weight: bold;
}


.place-order-existing-address, .place-order-existing-payment  {
  width: 900px;
  margin: 0 auto;
  padding: 20px 0 10px 0;
}

#place-order-num {
  width: 5%;
  text-align: left;
}

#place-order-title {
  width: 20%;
  text-align: left;
}

.customer-info {
  width: 80%;
  text-align: left;
  font-size: 1.05em;
}

.cart-watched-products {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.empty-cart {
  height: 100px;
}
