// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@import "base/colors.scss";

@mixin gradient {
    background: $cart-dark-yellow;
    background: -webkit-linear-gradient($cart-dark-yellow, $cart-yellow);
    background: -o-linear-gradient($cart-dark-yellow, $cart-yellow);
    background: -moz-linear-gradient($cart-dark-yellow, $cart-yellow);
    background: linear-gradient($cart-dark-yellow, $cart-yellow);
}

@mixin hovered-gradient {
    background: $cart-light-yellow;
    background: -webkit-linear-gradient($cart-light-yellow, $cart-yellow);
    background: -o-linear-gradient($cart-light-yellow, $cart-yellow);
    background: -moz-linear-gradient($cart-light-yellow, $cart-yellow);
    background: linear-gradient($cart-light-yellow, $cart-yellow);
}



.category-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.product-line {
  padding: 5px 0 5px 0;
  width: 30%;
  height: 400px;
  float: left;
}

.product-list {
  padding: 20px;
}

.product_picture {
  padding: 20px;
}

.category-product-img {

  img {
    width: 160px;
    height: 160px;
  }
}

.category-product-info {
  padding-top: 20px;
}

.product-title {
  color: $velvet;
  font-size: 1.3em;
}

.product-title:hover {
  color: $dark-red;
  text-decoration: underline;
}

.product-descr {
  padding: 10px 0 0 0;
  color: $dark-grey;
  font-size: .95em
}

.product-price {
  padding: 5px 0 0 0;

  .price {
    padding-left: 10px;
    font-size: 17px;
    color: $dark-red;
    font-family: 'Open Sans', sans-serif;
  }


}

.addToCart-button {
  padding: 10px 0 0 0;

  button {
    @include hovered-gradient;
    border: 1px solid $cart-darkest-yellow;
    border-radius: 3px;
    width: 110px;
    height: 20px;
    font-size: 12px;
  }

  button:hover {
    cursor: pointer;
    @include gradient;
  }

}
