// Place all the styles related to the Api::Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.single-order-block {
  margin: 0 auto;
  width: 45%;
  border: 1px solid grey;
  padding: 20px;
  margin-top: 10px;
}





.product-title-descr {
  width: 500px;
}



.received-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #ffb366;
}

.pending-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #e67300;
}

.unshipped-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #b3c6ff;
}

.shipped-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #0033cc;
}

.delivered-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #006600;
}

.canceled-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #cc0000;
}
