// Place all the styles related to the Api::Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.orders-list {
  padding: 20px 0 40px 0;
}


.single-order-block {
  margin: 0 auto;
  width: 45%;
  border: 1px solid grey;
  padding: 20px;
  margin-top: 10px;
}

.single-order-product-list {
  padding-top: 30px;
}

.single-order-product-line {
  margin-top: 15px;
}

.order-list-product-image {
  float: left;

  img {
    width: 100px;
    height: 100px;
    display: block;
  }

}


.product-title-descr {
  width: 500px;
}

.single-order-total {
  padding-top: 30px;
  font-weight: 700;
}

.received-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #ffb366;
}

.pending-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #e67300;
}

.unshipped-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #b3c6ff;
}

.shipped-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #0033cc;
}

.delivered-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #006600;
}

.canceled-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #cc0000;
}
