// Place all the styles related to the Api::Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/colors.scss";


.order-list-container {
  width: 100%;

}

.order-list-title {
  display: flex;
  justify-content: center;

  h2 {
    font-size: 21px;
  }
}

.orders-list {
  padding: 20px 0 40px 0;
}

.order-details-container {
  text-align: center;

  h2 {
    font-size: 21px;
    padding-bottom: 50px;
  }

}

.single-order-block {
  margin: 0 auto;
  width: 45%;
  border: 1px solid $light-grey;
  border-radius: 4px;
  padding: 0 0 20px 0;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.single-order-title-block {
  padding: 15px;
  background-color: #f6f6f6;
  border-bottom: 1px solid $light-grey;
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  justify-content: space-between;

  a {
    color: $link-blue;
  }

  a:hover {
    color: $link-orange;
    cursor: pointer;
    text-decoration: underline;
  }

}

.order-page-title-block {
  width: 930px;
  padding: 15px;
  background-color: #f6f6f6;
  border: 1px solid $light-grey;
  border-radius: 4px;
  color: #555;
  text-transform: uppercase;
  text-align: left;
  font-size: 12px;
  display: flex;
  justify-content: space-between;

  a {
    color: $link-blue;
  }

  a:hover {
    color: $link-orange;
    cursor: pointer;
    text-decoration: underline;
  }

}



.single-order-product-list-container {
  padding: 20px;
}

.single-order-product-list {
  padding-top: 30px;
}

.single-order-product-line {
  margin-top: 15px;
  padding-bottom: 15px;
}

.order-list-product-image {
  float: left;

  img {
    width: 100px;
    height: 100px;
    display: block;
  }

}

.order-product-price{
  color: $dark-red;
  font-family: 'Open Sans', sans-serif;
}

.product-title-descr {
  width: 500px;
}

.single-order-total {
  padding-top: 30px;
  font-weight: 700;
}

.received-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #ffb366;
}

.pending-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #e67300;
}

.unshipped-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #b3c6ff;
}

.shipped-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #0033cc;
}

.delivered-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #006600;
}

.canceled-order {
  font-weight: bold;
  font-size: 1.06em;
  color: #cc0000;
}
