// Place all the styles related to the Api::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




@mixin gradient {
    background: #eeb72b;
    background: -webkit-linear-gradient(#eeb72b, #f0c14b);
    background: -o-linear-gradient(#eeb72b, #f0c14b);
    background: -moz-linear-gradient(#eeb72b, #f0c14b);
    background: linear-gradient(#eeb72b, #f0c14b);
}

@mixin hovered-gradient {
    background: #f5d789;
    background: -webkit-linear-gradient(#f5d789, #f0c14b);
    background: -o-linear-gradient(#f5d789, #f0c14b);
    background: -moz-linear-gradient(#f5d789, #f0c14b);
    background: linear-gradient(#f5d789, #f0c14b);
}


#cart {
  margin-left: 10px;
}

// ===================

.product-container {
  width: 70%;
  padding-left: 1.5%;
  display: flex;

  .alt-images {
    width: 10%;
  }

  .main-image {
    padding: 0 25px;
    width: 40%;
  }

  .product-info {
    padding: 0 0 0 25px;
    // border-bottom: 2px solid #006600;
    // border: 1px solid #006600;
    width: 50%;


    .product-product-title {
      font-size: 21px;
    }

    .product-product-descr {
      padding: 10px 0 0 0;
      color: #777;
      font-size: .95em
    }

    .product-product-price {
      padding: 15px 0 0 0;

      .price-title {
        font-size: 13px;
        color: grey;
      }

      .price {
        font-size: 17px;
        color: #b12704;
        font-family: 'Open Sans', sans-serif;
      }

    }

  }

  .product-order {
    padding: 20px 0 0 0;

    .addToCart-button {

      button {
        @include gradient;
        border: 1px solid #a88734;
        border-radius: 3px;
        width: 140px;
        height: 30px;
        font-size: 14px;
      }

      button:hover {
        cursor: pointer;
        background-color: #f0c14b;
        @include hovered-gradient;
      }
    }

  }


}

// bought together

.bought-together-container {
  margin-top: 40px;
}

.bought-together-list {
  margin-top: 50px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}

.single-product-block {
  margin-left: 40px;
}

.single-product-block:first-child {
  margin-left: 0;
}
