// Place all the styles related to the Api::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-info {
  background-color: #e2e2e2;
  padding: 25px;
}

.product-order {
  padding: 10px;
}

#cart {
  margin-left: 10px;
}
