// Place all the styles related to the Api::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-info {
  background-color: #e2e2e2;
  padding: 25px;
  border-bottom: 2px solid #006600;
  border-top: 1px solid #006600;
}

.product-order {
  padding: 10px;
}

#cart {
  margin-left: 10px;
}

// ===================

.product-container {
  width: 70%;
  margin: 0 auto;
}


.product-product-title {
  color: #660066;
  font-size: 1.3em;
}

.product-product-descr {
  padding: 10px 0 0 0;
  color: #777;
  font-size: .95em
}

.product-product-price {
  padding: 5px 0 0 0;
}

.addToCart-button {
  padding: 10px 0 0 0;
}

.check-card {
  padding: 10px 0 0 20px;;
}
