// Place all the styles related to the storefronts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//


@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.storefront-container {
  width: 85%;
  margin: 0 auto;
}

.storefront-list {
  @include flex;
  // height: 220px;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid black;
}


.product-block {
  width: 200px;
  height: 200px;
  // margin-left: 10px;
  // margin: 0 auto;
}




.frontstore-product {
  height: 200px;
  // border: 1px solid #e6e6e6;
  // padding: 10px;


  .product-img {

    img {
      width: 200px;
      height: 200px;
      display: block;
    }

  }

  .product-title {
    font-size: 13px;
  }


}
