// Place all the styles related to the storefronts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/colors.scss";

@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.storefront-container {
  width: 80%;
  margin-top: 15px;
}

.upper-row {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
}
.lower-row {
  width: 99%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

.storefront-list {
  @include flex;
  height: 250px;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.watched-products-list {
  @include flex;
  height: 250px;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.product-block {
  width: 200px;
  height: 200px;
}

.frontstore-product {
  height: 200px;

  .product-img {

    img {
      width: 200px;
      height: 200px;
      display: block;
    }
  }

  .product-title {
    font-size: 13px;
  }
}

// internal

.internal-storefront-list {
  border: 1px solid $light-grey;
  width: 228px;
  padding: 10px 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;

  p {
    color: $dark-grey;
    padding: 10px 0 15px 0;
    font-size: 13px;
  }
}

.internal-product-block {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid $light-grey;
}

.internal-product-block:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.prod-details {
  display: flex;
  flex-direction: column;
}

.storefront-product {
  display: flex;
  flex-direction: column;
  color: $link-blue;
  font-size: 0.85em;
  line-height: 1.5;
}

.prod-title {
  color: $link-blue;
  line-height: 1.5;
}

.prod-title:hover {
  color: $link-orange;
  cursor: pointer;
}

.internal-product-img {

  img {
    margin-left: 30px;
    width: 150px;
    height: 150px;
  }
}

.small-banner {

  img {
    border: 1px solid #e6e6e6;
  }
}

.small-banner:hover {
  cursor: pointer;
}

.big-banner {
  width: 99%;
  display: flex;
  justify-content: center;

  img {
    border: 1px solid #e6e6e6;
  }
}

.big-banner:hover {
  cursor: pointer;
}
