// Place all the styles related to the Api::WatchedProducts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/colors.scss";

.watched-products-container {
  width: 80%;
  margin: 0 auto;
  margin-top: -10px;

  p {
    color: $dark-orange;
    padding-top: 15px;
    font-weight: 700;
    font-size: 1.05em;
  }
}
