
$dark-grey: #777777;
$green: #008a00;
$dark-red: #b12704;
$darkest-blue: #0e063d;
$light-grey: #d4d6d6;
$light-darker-grey: #bdc1c1;
$light-blue: #e6f9ff; // ???? cart-total
$footer-blue: #37475a;
$footer-light-blue: #485769;
$footer-dark-blue: #232f3e;
$cart-light-yellow: #f5d789;
$cart-yellow: #f0c14b;
$cart-dark-yellow: #eeb72b;
$cart-darkest-yellow: #a88734;
$velvet: #660066;
$link-blue: #0066c0;
$link-orange: #e2593b;
$order-received: #ffb366;
$order-pending: #e67300;
$order-unshiped:#b3c6ff;
$order-shipped: #0033cc;
$order-delivered: #006600;
$order-canceled: #cc0000;
$orange: #e77600;
$blue: #35aae0;
$dark-orange: #cc6600;
