// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-container {
  width: 70%;
  margin: 0 auto;
}

.product-line {
  padding: 5px 0 5px 0;
}

.product-list {
  background-color: #e6e6e6;
  border: 1px solid blue;
  padding: 20px;
}


.product-title {
  color: #660066;
  font-size: 1.3em;
}

.product-title:hover {
  color: red;
  text-decoration: underline;
}

.product-descr {
  padding: 10px 0 0 0;
  color: #777;
  font-size: .95em
}

.product-price {
  padding: 5px 0 0 0;
}

.addToCart-button {
  padding: 10px 0 0 0;
}
