
@import "base/colors.scss";

@mixin gradient {
    background: $cart-dark-yellow;
    background: -webkit-linear-gradient($cart-dark-yellow, $cart-yellow);
    background: -o-linear-gradient($cart-dark-yellow, $cart-yellow);
    background: -moz-linear-gradient($cart-dark-yellow, $cart-yellow);
    background: linear-gradient($cart-dark-yellow, $cart-yellow);
}

@mixin hovered-gradient {
    background: $cart-light-yellow;
    background: -webkit-linear-gradient($cart-light-yellow, $cart-yellow);
    background: -o-linear-gradient($cart-light-yellow, $cart-yellow);
    background: -moz-linear-gradient($cart-light-yellow, $cart-yellow);
    background: linear-gradient($cart-light-yellow, $cart-yellow);
}

.header-container {
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  height: 120px;
  background-color: #232f3e;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1600px) {
  .header-container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 1600px;
    height: 120px;
    background-color: #232f3e;
    display: flex;
    justify-content: space-between;
  }
}

.categories-search-container {
  z-index: 5;
}

.search-bar {
padding-top: 40px;
padding-left: 50px;
width: 1050px;

  input {
    width: 950px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 15px;
    padding: 3px 10px 6px 3px;
  }
}

.search-icon {
  padding: 5px 7px 7px 7px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: $cart-yellow;
}


.header-buttons {
  display: flex;

}

.categories-button {
  position: absolute;
  top: 95px;
  left: 310px;
  width: 130px;

  .caret-down-icon {
    padding-left: 3px;
    margin-top: 2px;
    color: #547091;
  }

  p {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.8px;
    padding: 4px 8px;
  }

  p:hover {
    border: 1px solid #3d526b;
    padding: 3px 7px;
    cursor: pointer;
  }
}

.cart-info {
  padding-top: 50px;
  margin-right: 1%;
  color: #fff;
  font-weight: 700;
  position: relative;

}

.fa-shopping-cart {
  color: #fff;
  padding-right: 10px;
}

#cart-items {
  position: absolute;
  top: 66px;
  left: 27px;
  color: $dark-orange;
  font-size: 22px;
}

.orders-button {
  color: #fff;
  font-weight: 700;
  margin-top: 92px;
  // margin-left: -100px;
  padding: 5px 10px 5px 10px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.orders-button:hover {
  padding: 3px 7px 3px 7px;
  border: 1px solid #3d526b;
  padding: 4px 9px 4px 9px;
}

.welcome-message {
  margin-top: 88px;
  margin-left: -364px;
  color: #fff;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.welcome-message-text {
  color: $light-grey;
  font-size: 14px;
}

.logout-button {
  margin-left: 20px;

  button {
    @include hovered-gradient;
    border: 1px solid $cart-darkest-yellow;
    border-radius: 3px;
    width: 110px;
    height: 20px;
    font-size: 12px;
  }

  button:hover {
    cursor: pointer;
    @include gradient;
  }
}

.no-welcome-message {
  margin-top: 88px;
  margin-left: -298px;
  padding: 5px 10px 5px 10px;
}

.login-button {
  padding: 10px 0 0 0;

  button {
    @include hovered-gradient;
    border: 1px solid $cart-darkest-yellow;
    border-radius: 3px;
    width: 110px;
    height: 20px;
    font-size: 12px;
  }

  button:hover {
    cursor: pointer;
    @include gradient;
  }
}

.search-results {
  opacity: 1;
  background-color: #fff;
  margin: 3px 0 0 51px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 964px;
  border: 1px solid $light-grey;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
  z-index: 5;

  ul {
    li {
      border-bottom: 1px solid #e3e3e3;
      padding: 10px 0 10px 0;
    }

    li:last-child {
      border-bottom: 0;
    }
  }
}

.search-results-line {


  #title {

  }

  &:hover {
    #title {
      color: $link-orange;
      cursor: pointer;
    }
    #not-found {
      cursor: pointer;
    }
  }

  img {
    padding: 0 10px 0 10px;
    width: 50px;
    height: 50px;
  }
}
